/* Main CSS Styles */
body{
	background-image: url("background.jpg");
	background-color: #222;
	font-family: sans-serif;
}

p{
	color: #d9d9d9;
}

.topBar{
	position: fixed;
	top: 0%;
	left: 0%;
	height: 50px;
	width: 100%;
	padding: 0% 10%;
	background-color: #454545;
	background-image: linear-gradient(to bottom, #222222, #111111);
	border-bottom: 2px;
	border-bottom-width: 100%;
	border-bottom-color: black;
}

.header{
	margin: 60px 10%;
}

.pageWrap{
	margin: 60px 10%;
	margin-left: -10px;
}

.sideBar{
	float: right;
	margin-right: -25px;
	background-color: #454545;
	background-image: linear-gradient(to bottom, #222222, #111111);
	height: 500px;
	width: 50px;
	padding: 0% 6%;
	border: none;
	border-radius: 10px;
}

#logo{
	margin-top: 10px;
	height: 150px;
	width: 300px;
}

.menu{
	background-color: #454545;
	background-image: linear-gradient(to bottom, #222222, #111111);
	height: 40px;
	width: 90%;
	padding: 0% 6%;
	border: none;
	border-radius: 10px;
	margin-top:10px;
	display: inline-block;
}

nav{
	margin: 0px -7% 0;
}

nav ul{
	color: white;
	padding: 0;
	margin: 0px;
}

nav ul li{
	display: inline-block;
	padding: 10px 15px;
}

nav ul li:hover{
	background-color: #454545;
}

#sideNav{
	color: white;
	padding: 0;
	margin: 0px;
}

a{
	text-decoration: none;
	color: inherit;
}

#sideBottom { 
	top: 0%;
	left: 0%;
	height: 40px;
	width: 100%;
	padding: 0% 10%;
	background-color: #454545;
	background-image: linear-gradient(to bottom, #222222, #111111);
	border-bottom: 2px;
	border-bottom-width: 100%;
	border-bottom-color: black;
}
