/* Main CSS Styles */

body{
	background-color: #222;
}

p{
	color: #d9d9d9;
}

.header-image {    
    position:absolute;
    top:0;
    bottom:0;   
    max-height:500px;
    overflow:hidden;    
      left: 0; 
      right: 0;
    z-index:-1;         
      border:10px solid #545351;        
}

.header {
    width: 100%;
    padding-top:50px;
    margin-top:-10px;       
}

.header-image img {
    width: 100% !important;
}